* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  body {
    width: 100%;
    height: 100vh;
  }
  
  .container {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    color: white;

    /*LAYOUT*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .container .card {
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    background: linear-gradient(135deg, #ee20d6 0%, #0a2fb6 100%);
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
  }
  
  .container .card:hover {
    transform: scale(1.05);
  }
  
  .container .card .cardtitle {
    padding: 30px 20px;
    border-bottom: 2px solid rgb(224, 224, 224);
    
  }
  
  .container .card .cardtitle h2 {
    font-size: 30px;
    padding-bottom: 15px;
    color: yellow;
  }
  .container .card .cardtitle p span {
    font-size: 20px;
    padding: 0 5px;
  }
  
  .container .card .cardcontent ul {
    padding: 10px 30px;
    padding-bottom: 20px;
    }
  
  .container .card .cardcontent ul li {
    list-style: none;
    padding: 10px 0;
    

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container .card .cardcontent ul li svg {
    width: 20px;
    margin-right: 5px;
  }

  .container .card .cardcontent button{
    width: 120px;
    padding: 10px 20px;
    background-color: rgb(9, 163, 184);
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
  }
  
  .container .card .cardcontent button:hover {
    background-color: #17ead9;
    letter-spacing: 1.2px;
  }
  
  .container .card .cardcontent button a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }

  @media screen and (max-width: 576px){
   
    .container .card{
        width: 100%;
        height: 400px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .card .cardtitle{
        width: 200px;
    }
   
    .container .card .cardtitle h1{
        font-size: 50px;
    }

    .container .card .cardtitle .plan{
        font-size: 30px;
    }

    .container .card .cardcontent ul {
        padding: 10px 30px;
        padding-bottom: 20px;
        
        /*LAYOUT*/
         display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } 
    .container .card .cardcontent button{
        width: 100%;
        padding: 10px 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        
      }
      .container .card .cardcontent button:hover {
        background-color: #17ead9;
        letter-spacing: 1.2px;
      }
      .container .card .cardtitle {
        border-right: 2px solid rgb(224, 224, 224);
        border-bottom: none;
      }
  }